@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply block w-full rounded-md border border-gray-300 bg-slate-200 p-2.5 text-sm text-slate-950 focus:border-gray-600 focus:ring-gray-600;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: s;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3a3a3a;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@layer base {
  :root {
    background-color: #000014;
    color: #fff;
  }
}

@layer utilities {
  .card-wrapper {
    @apply relative overflow-hidden rounded-lg bg-gradient-to-br from-slate-900 to-slate-800 p-6;
  }

  .card-wrapper::before {
    background: conic-gradient(#000014 0deg, #3a3a3a 0deg, transparent 80deg);

    @apply animate-border-spin absolute left-[-25%] top-[-25%] h-[150%] w-[150%] content-[''];
  }

  .card-content {
    @apply absolute left-[1px] top-[1px] h-[calc(100%-2px)] w-[calc(100%-2px)] rounded-2xl bg-slate-800 bg-slate-900 bg-gradient-to-b;
  }
}
